<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.css" rel="stylesheet">
	<link href="/static/css/magnific-popup.css" rel="stylesheet">
	<link href="/static/css/jquery.Jcrop.min.css" rel="stylesheet">
	<link href="/static/css/twentytwenty.css" rel="stylesheet" type="text/css" />
	<link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
	<link href="/static/css/tr-animation.css" rel="stylesheet">
	<link href="/static/css/responsive.css" rel="stylesheet">	
	<link href="/static/css/all.css" rel="stylesheet">
</head>
<body>
	<div id="page">

        <header id="navigation">
            <div class="navbar navbar-fixed-top" role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="/">
                            <img class="main-logo img-responsive" src="#" alt="">
                        </a>
                    </div>
                    <div class="top-bar">
						<span class="login-section">
                            <a href="/auth/login/"><i class="fa fa-user"></i>Signup / Login</a>
						</span>
                    </div>
                    <breakpoint include="navbar"></breakpoint>
                    <div class="search-icon">
                        <span><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="search">
                    <form role="form">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Write something and press enter">
                        <span class="search-close"><i class="fa fa-times"></i></span>
                    </form>
                </div>
            </div>
        </header>
			
		<breakpoint include="editor"></breakpoint>

	</div>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.js"></script>
	<script type="text/javascript" src="/static/js/jquery.parallax.js"></script>
	<script type="text/javascript" src="/static/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.nav.js"></script> 
	<script type="text/javascript" src="/static/js/jquery.typer.js"></script>
	<script type="text/javascript" src="/static/js/jquery.event.move.js"></script>
    <script type="text/javascript" src="/static/js/jquery.twentytwenty.js"></script>
    <script type="text/javascript" src="/static/js/jquery.countTo.js"></script>
    <script type="text/javascript" src="/static/js/jquery.Jcrop.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="/static/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/suit.js"></script>
    <script type="text/javascript" src="/static/js/all.js"></script>

</body>
</html>